@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300;14..32,400;14..32,600;14..32,700;14..32,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFF5F7;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1A0826;
}

::-webkit-scrollbar-thumb {
  background: #FDC830;
  border-radius: 20px;
}

section {
  scroll-margin-top: 80px;
}
